@import 'normalize.css/normalize';
@import 'font-awesome/css/font-awesome.css';

@import './_fonts';
@import './_variables';

@import './footer';
@import './header';
@import './lang-picker';
@import './spinner';
@import './users';

body, html, #content, .___iso-html___ {
  height: 100%;
  background-color: #F4F2F3;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input:focus {
  outline: none!important;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.text-center {
  text-align: center;
}

.un-select {
  user-select: none;
}

.imageloader {
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

.imageloader.loaded {
  opacity: 1;
}
