@import 'normalize.css/normalize';
@import 'font-awesome/css/font-awesome.css';

@import './_fonts';
@import './_variables';

@import './footer';
@import './header';
@import './lang-picker';
@import './spinner';
@import './users';

body, html, #content, #content > div {
  height: 100%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

input:focus {
  outline: none!important;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.text-center {
  text-align: center;
}

.un-select {
  user-select: none;
}

.imageloader {
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

.imageloader.loaded {
  opacity: 1;
}

.element-toggle-target {
  display: none;
}

.element-toggle-target-visible {
  display: inline-block;
}
